<div class="form-block">

  <h2>LOGIN</h2>

  <%= form_tag '/session', method: 'post' do %>
    <label for="email">Enter your email</label>
    <input type="text" name="email">

    <label for="password">Enter your password</label>
    <input type="password" name="password">

    <button class="form-btn blue-btn">Login</button>
  <% end %>

  <a href="">
    <p>Don't have an account?</p>
  </a>
</div>
