<%= form_tag '/session', method: 'post' do %>

  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password">

  <button>login</button>
<% end %>
