<div class="form-block">

  <h2>Create a Proposition</h2>

  <%= form_tag '/propositions', method: 'post' do %>

    <input name="user_id"type="hidden" value="<%= session[:user_id] %>">

    <label for="title">Title</label>
    <input name="title" type="text" placeholder="Enter your proposition, be clear, set a time frame.">

    <label for="description">Description</label>
    <input name="description" type="text" placeholder="Add any extra information about your proposition">

    <label for="deadline">Deadline</label>
    <input name="deadline" type="datetime" placeholder="dd-mm-yyyy hh:mm">

    <label for="image">Image Url</label>
    <input name="image" type="text" placeholder="Enter image URL to represent your proposition">

    <label for="categories">Pick a Category</label>
    <select name="categories" class="categories-drop">
      <option value="">Click to Select</option>
      <option value="tv_shows">TV Shows</option>
      <option value="movies">Movies</option>
      <option value="sport">Sports</option>
      <option value="celebrity">Celebrities</option>
      <option value="people">People</option>
      <option value="politics">Politics</option>
      <option value="games">Games</option>
      <option value="other">Other</option>
    </select>

    <button class="form-btn blue-btn">Create</button>

  <% end %>

</div>
