/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*GLOBAL STYLES*/

html {
  /*height: 100%;*/
  background-color: #141821;

}

body {
  background-color: #141821;
  background-color: #0f0f19;
  background: -webkit-linear-gradient(#0f0f19, #141821);
  background: -o-linear-gradient(#0f0f19, #141821);
  background: -moz-linear-gradient(#0f0f19, #141821);
  background: linear-gradient(#0f0f19, #141821);
  /*height: auto;*/
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2.5% 0 2.5%;
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;

}

h1, h2, h3, h4, h5, p {
  color: white;
}

h1, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h3 {
  font-weight: 300;

}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 1.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
  color: #b0b0b0;
}

h4 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 35px;
}

h5 {
  font-size: 1em;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 15px;
}


/*NAVIGATION STYLES*/

nav {
  width: 100%;
  border-bottom: 1px solid #636363;
  padding: 30px;
  margin-bottom: 50px;
}

.logo {
  display: inline-block;
  width: 30%;
}

.logo img {
  height: 35px;
}

.logo h1 {
  display: inline-block;
  line-height: 35px;
  vertical-align: top;
  margin-left: 15px;

}

.navigation {
  display: inline-block;
  width: 69%;
  text-align: right;
}

.navigation button {
  display: inline-block;
  float: right;
  line-height: 45px;
  vertical-align: middle;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #2b3345;
}

.blue-btn {
  padding: 0px 22px;
  background: #0d52a1;
  background: -webkit-linear-gradient(left top, #277fe3, #0d52a1);
  background: -o-linear-gradient(bottom right, #277fe3, #0d52a1);
  background: -moz-linear-gradient(bottom right, #277fe3, #0d52a1);
  background: linear-gradient(to bottom right, #277fe3, #0d52a1);
  border-bottom: 1px solid #09407e;
  border-radius: 25px;
  transition: 0.5s;
  margin-left: 5px;
}

.blue-btn:hover {
  background: #0d52a1;
  background: -webkit-linear-gradient(left top, #4f91dd, #2d629e);
  background: -o-linear-gradient(bottom right, #4f91dd, #2d629e);
  background: -moz-linear-gradient(bottom right, #4f91dd, #2d629e);
  background: linear-gradient(to bottom right, #4f91dd, #2d629e);
}

#welcome-message {
  background-color: transparent;
  cursor: auto;
}

/*FOOTER STYLES*/

footer {
  text-align: center;
  width: 100%;
  border-top: 1px solid #636363;
  padding: 10px;
  margin: 50px 0px 0px 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}


/*INPUTS*/

.form-block {
  width: 500px;
  margin: 0 auto;
  background-color: #1c1c2e;
  color: white;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-align: center;
}

input, label {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  text-align: left;
}

.form-block >  h2{
  padding: 40px 0px 40px 0px;
}

label {
  padding: 20px 0px 30px 0px;
}

input {
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 0px 15px 0px 15px;
}

.form-btn {
  width: 100%;
  height: 40px;
  background-color: red;
  border-radius: 5px;
  margin: 25px 0px 20px 0px
}

/*DROPDOWN BOX STYLES*/

select {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  line-height: 40px;
  background-color: white;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {
    height:40px;
    line-height:40px;
    background:#f4f4f4;
  }
}

select::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@-moz-document url-prefix() {
  select {
    padding: 20px 0!important;
  }
}

@media screen\0 {
  select {
    height:40px;
    line-height:40px;
  }
}



/*USER PANEL AND STATISTICS*/

.stats {
  width: 100%;
  margin: 0px 0px 20px 0px;
  background-color: #292b44;

}

.stats h4 {
  font-size: 1.4em;
  padding: 25px 0px 25px 0px;
  margin: 0;
}

.side-panel h4 {
  font-size: 1.4em;
  padding: 25px 0px 25px 0px;
  margin: 0;
}

.side-panel form button {
  width: 100%;
  height: 50px;
  background-color: #55D49D;
  margin-top: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.side-panel form button:hover {
  opacity: 0.8;
}

#no-btn {
  background-color: #5E9ADC;

}

#delete-btn {
  background-color: #FD564C;
}

#edit-btn {
  /*background-color: #FD564C;*/
}

.ref-options {
  width: 100%;
  margin: 0px 0px 20px 0px;
  background-color: #292b44;
  padding: 15px
}

.admin-options {
  width: 100%;
  margin: 0px 0px 20px 0px;
  background-color: #292b44;
  padding: 15px

}


/* DASHBOARD STYLES*/

.dashboard-content {
  display: inline-block;
  width: 74%;
}

.dashboard-panel {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  height: 1px;
}

.dashboard-title {
  margin: 50px 0px 15px 0px;
}

.dt-top {
  margin-top: 10px;
}

#sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

#script-hide {
  display: none;
}

.btn-yes, img, .btn-yes:focus, img:focus {
  outline: 0 !important;
  border:0 none !important;
}

.acc-total {
  width: 100%;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.acc-total > h2 {
  font-weight: 700;
  color: #55D49D;
}

.acc-total p {
  margin: 0;
  font-size: 0.7em;
}

.dashboard-octa {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #111121;
}

.octa-holder {
  box-sizing: border-box;
  width: 50%;
  background-color: #1e1f36;
  padding: 18px 12px 18px 12px;
  text-align: center;
}

.octa-holder p {
  margin: 0;
  font-size: 0.7em;
}

.octa-holder h4 {
  margin: 0px 0px 5px 0px;
  padding: 0;
  font-weight: 500;
  font-size: 1.1em;
}

.chart {
  padding: 20px;
}

.funding {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #111121;
  background-color: #1e1f36;

}

.funding > p {
  text-align: left;
}

.stripe-button-el span {
  display: inline-block !important;
  background-image: linear-gradient(#277fe3, #0d52a1) !important;
  border: 0px !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1em !important;
  line-height: 45px !important;
  transition: 0.5s !important;
  border-bottom: 1px solid #09407e !important;
  line-height: 45px !important;
  height: 45px !important;
  padding: 0px 22px !important;
  text-shadow: 0px !important;
  box-shadow: 0px !important;
  border-top-color: none !important;
  border-top-style: none !important;
  border-top-width: 0px !important;
  border-right-color: none !important;
  border-right-style: none !important;
  border-right-width: 0px !important;
  border-bottom-color: none !important;
  border-bottom-style: none !important;
  border-bottom-width: 0px !important;
  border-left-color: none !important;
  border-left-style: none !important;
  border-left-width: 0px !important;
}

#more-options {
  text-align: center;
  font-size: 0.7em;
  text-decoration: none;
  cursor: pointer;
}

#deadline {
  display: none;
}

#countdown {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0px 10px 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
