// Place all the styles related to the propositions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HERO

.hero {
  position: relative;
  margin-top: -50px;
}

.hero-text {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 100px;
}

.hero-text > h3 {
  width: 50%;
  margin: 10px auto;
}

.hero img {
  width: 100%;
}

.highlight {
  font-weight: 500;
}

// Prop Holder

.holder-4-full {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.prop {
  display: inline-block;
  width: 280px;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin: 1% 1%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.prop-index {
  width: 23%;
  height: 280px;
}

.holder-4-full a {
  width: 100%;
  height: 100%;
}

.holder-4-full .overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 70%;
  width: 100%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.prop-blurb {
  position: absolute;
  bottom: 2.5%;
  left: 5%;
  width: 85%;
}

.prop-holder > img {
  margin: 50px 50% 10px 49%;
  width: 25px;
}

.blurb-left {
  display: inline-block;
  width: 45%;
  vertical-align: bottom;
  margin: 10px 0px 10px 0px;
}

.blurb-left > p {
  margin: 0;
}

.blurb-right {
  display: inline-block;
  width: 53%;
  vertical-align: bottom;
  margin: 10px 0px 10px 0px;

}

.blurb-right > * {
  float: right;
  padding: 0px 3px 0px 3px;
}

.blurb-right > img {
  height: 20px;
  vertical-align: middle;
}

.blurb-right > p {
  line-height: 20px;
  vertical-align: top;
  margin: 0;

}




// ABOUT SECTION

.about {
  display: flex;
  margin-top: 50px;
}

.left-title {
  width: 25%;
  // padding-top: 75px;
}

.right-content {
  width: 60%;
}

.right-content > p {
  margin-top: 0px;
}


// SHOW PAGES

.show-holder {
  padding: 20px;
}

.content {
  display: inline-block;
  width: 74%;
  text-align: center;
}

.card {
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: white;
  margin: 0;
  border-radius: 15px;
  border-left: 3px solid #414657;
  border-right: 3px solid #414657;
  // opacity: 0.95;
}

.card-left, .card-right {
  display: inline-block;
  width: 100px;
  margin: 0;
  vertical-align: top;
}

.card-left {
  text-align: right;
}

.card-right {
  text-align: left;
}

.card-left > img {
  height: 450px;
  padding-top: 25px;
  opacity: 0.8;
  margin-right: -5px;

}

.card-right > img {
  height: 450px;
  padding-top: 25px;
  opacity: 0.8;
  margin-left: -5px;
}

.card-image {
  width: 95%;
  height: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 2.5% auto;
  border-radius: 7px;

}

.card-blurb {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: black;
}

.card-blurb > h5 {
  color: black;
  font-size: 1.3em;
  line-height: 1.4em;
}

.button-holder {
  padding-top: 10px;
}

.button-holder form {
  display: inline-block;
}

.button-holder form button {
  cursor: pointer;
}

.button-holder img {
  height: 60px;
  transition: 0.5s;
}

.button-holder img:hover {
  opacity: 0.6;
}

.button-holder > h5 {
  color: black;
  display: inline-block;
  width: 40%;
  line-height: 60px;
  vertical-align: top;
  font-size: 1.7em;
  color: #FD4338;
  // margin-bottom: 50px;
  opacity: 0.9;
}

.button-holder > h5 > span {
  font-size: 2.6em;
  vertical-align: top;

}

.extra-info {
  width: 100%;
  margin-top: 40px;
}

.extra-info h5 {
  padding-bottom: 5px;
}

.description {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  text-align: justify;
  padding: 15px;
}

.bets {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: left;
  padding: 15px;

}

.bets p {
  display: inline-block;
}

.bets form {
  display: inline-block;
  color: rgb(205, 205, 205);
  cursor: pointer;
}

.bets form button {
  color: rgb(205, 205, 205);
  text-decoration: underline;
  cursor: pointer;

}

hr {
  opacity: 0.1;
}


.side-panel {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
